version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "weekly"
      day: "monday"
    groups:
      nestjs:
        applies-to: version-updates
        patterns:
          - "@nestjs/*"
      lint:
        applies-to: version-updates
        patterns:
          - "eslint"
          - "prettier"
          - "eslint-config-prettier"
          - "eslint-plugin-prettier"
          - "@eslint/*"
          - "@angular-eslint/*"
  
